# Backend
OSSGUARD_REDIS_HOST=localhost
OSSGUARD_REDIS_PORT=6379
OSSGUARD_RABBITMQ_USER=myuser
OSSGUARD_RABBITMQ_PASSWORD=mypassword
OSSGUARD_RABBITMQ_HOST=localhost
OSSGUARD_RABBITMQ_PORT=5672
OSSGUARD_OLLAMA_HOST=http://localhost:11434
OSSGUARD_OLLAMA_MODEL=llama3
OSSGUARD_LOG_LEVEL=INFO

# Frontend
VITE_API_BASE_URL=http://localhost:8000
VITE_WS_BASE_URL=ws://localhost:8000
